.footer{
    background: $darkColor;
    padding: 20px 0px;
    .normal_text.bold{
        font-weight: 500;
        margin-top: 0px;;
        font-size: 14px;
    }
    .normal_text{
        font-size: 14px;
    }
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;;

}

.so-link{
    margin-right: 20px;
}

/// footer dark mode

.dark-footer {
    .footer-logo {
        width: 200px;
        svg{
            width: 100%;
            height: 100px;;
        }
        svg .logo-fill {            
            fill: $lightColor;
        }
    }
}

.top-lined{
    border-top: 1px solid #383838;
    margin-top: 0px;
    padding-top: 25px;
}


/// footer light mode
.light-footer {
    background-color: $lightColor;

    .footer-logo {
        width: 200px;
        svg{
            width: 100%;
            height: 100px;;
        }
        svg .logo-fill {
            fill: $darkColor;
        }
    }
    .top-lined{
        border-top: 1px solid #E3E3E3;
        margin-top: 0px;
        padding-top: 25px;
    }
    .so-link{
        margin-right: 20px;
        svg .tw-color{
            fill: #000;
        }
        svg .med-rect{
            fill: #000;
        }
        svg .met-letter{
            fill: #fff;
        }
    }
}


.foot-link {
    color: $accentColor;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        color: #B35200;
        transition: all 0.3s ease-in-out;

        svg {
            .arrow-svg {
                fill: #B35200;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    svg {
        margin-left: 8px;

        .arrow-svg {
            fill: $accentColor;
        }
    }
}
.footer-nav-link.link-active.active{
    color: $accentColor;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    .text-column{
        width: 100%;
    }

}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .nav-item{
        margin-bottom: 16px;;
        margin-left: 0px;;
    }
}

.nav-group{
    display: flex;;
    flex-direction: column;
    // justify-content: space-between;
}

.footer-nav-link{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F8F8F8;
    margin-bottom: 16px;
    &:hover{
        transition: 0.3s ease-in-out all;
        color: $accentColor

    }
}

.footer .normal_text.top-lined {
    text-align: right;;
    
}

.light-footer{
    .normal_text, .footer-nav-link{

        color: $darkColor;
    }
}

// footer block 
.dark-bottom{
    background-color: #1E1E1E;
    padding: 40px 0px;
}

.disclosure-wrap{
    display: flex;
    flex-direction: columns;
    text-transform: uppercase;
    justify-content: space-between;
}
.disclosure{
    width: 38%;
}
.disclosure.disclosure-header{
    width: 10%;
    font-weight: 500;;
    color: #F8F8F8;
    margin: 0px;
}

.disclosure-part{
    display: inline-block;
    margin-top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%; 
    align-items: center;
    text-transform: uppercase;
    color: #F8F8F8;
    margin-bottom: 15px;;
}


@media (max-width: 760px){
    .footer-columns{
        flex-direction: column;
    }
    .footer {
        padding: 17px 0px;
    }
    .footer-top {
        margin-bottom: -11px;
    }
    .footer .footer-nav-link, .footer .normal_text{
        font-size: 13px;
        line-height: 18px;
    }
    .light-footer .footer-logo svg,
    .dark-footer .footer-logo svg {
        width: 134px;
        height: 66px;
    }
    .foot-link{
        margin-top: -6px;;
    }
}

@media (max-width: 450px){
    .footer-nav{
        flex-direction: column;
    }
    .nav-group{
        margin-bottom: 5px;
    }
    .light-footer .footer-logo,
    .dark-footer .footer-logo {
        width: 120px;
    }
    .footer-nav-link{
        margin-bottom: 10px;;
    }
    .light-footer .footer-logo svg,
    .dark-footer .footer-logo svg {
        width: 120px;
        height: 60px;
    }

}